.container {
    width: 600px;
    background-color: moccasin;
    align-content: center;
    margin: 10px auto;
}
h1 {
    display: block;
    color: gold;
    background-color: red;
    border-radius: 10px;
    border: brown 2px dotted;
    text-align: center;
    width: 50%;
    height: 50px;
    align-content: center;
    margin: 10px auto;
}
.recipes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
}
.recipechild {
    display: flex;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 40px;
    width: 200px;
    height: 200px;
    background-color: orange;
    border-radius: 10px;
    border: brown 2px dotted;
    margin: 5px 5px;
    padding: 5px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex: initial;
}
